#contact, #apply { font-family: 'Pretendard-Regular'; width: 1100px; }

#left { padding: 10rem 0;}
#left h1, #right h1 { font-size: 30px; }
#right { float: right; width: 700px; padding-top:7.2rem; };
#right h1 { padding-bottom: 50px; }
.page-nm { margin-bottom: 45px; }
.page-nm h2 { font-size: 30px; margin-bottom: 14px; }
.page-nm p { font-size: 14px; }