#contact { font-family: 'Pretendard-Regular'; width: 1100px; }

#left { float: left; width: 226px;}
#right { float: right; width: 717px;}
#left, #right { padding: 10rem 0;}
.page-nm { margin-bottom: 50px; }
.page-nm h2 { margin-bottom: 14px; }
.contact-ctnt h3 { font-size: 20px; margin-bottom: 1rem; }
.contact-ctnt p { font-size: 1rem; }

.pjt-nm > .btn-wrap {
    /* box-sizing: border-box; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 40px;
    /* gap: 10px; */
    /* position: absolute;
    width: 151px;
    height: 51px;
    left: 793px;
    top: 469px; */
    background: #030711;
    border: 1px solid #FFFFFF;
    border-radius: 16px;
}

/* .pjt-nm > label {
    border: 1px solid var(--mainColor);
    width: 120px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
    margin: 10px;
} */
/* .btn-wrap {
    display: flex;
    flex-direction: row;
    margin: 20px;
    padding: 15px;
} */
.btn-wrap > div { position: absolute; width: 150px; height: 50px;}
label {
    text-align: center;
    padding: 10px 15px;
    color: var(--mainColor);
    border: 2px solid var(--mainColor);
    border-radius: 16px;
    margin: 30px;
    /* height: 34px; */
    /* width: 150px; */
}
input[type=checkbox]:checked + label {
    background-color: var(--mainColor);
    color: #fff;
}