#formMail{margin:0px auto; padding:0;}
.MR1per{margin-right:1%;}
.width-half{width:49.5%; float:left;}
.last-half:after {display:block;visibility:hidden;clear:both;content:""}
.sendBtn button {
  /* position: absolute; */
  width: 205px; height: 59px;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 16px;
  font-size: 13px;
  margin-bottom: 100px;
  font-family: 'Pretendard', sans-serif;
}
.sendBtn button:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid #fff;
  transition: all 0.5s;
}
@media screen and (max-width: 570px){
	.sendBtn{padding-bottom:50px;}
	.MR1per{margin-right:0%;}
	.width-half{width:100%; float:none;}
}


/*** START contact css ***/

/* left side */
#contact #left .input_wr{ font-size:20px; font-weight:400; color:#fff; line-height: 40px; margin-bottom: 20px; }
#contact #left .input_wr .input_line_wr{ margin-bottom:30px; font-weight:300; margin-bottom: 0; }
#contact #left .input_wr span {
  border: none;
  border-bottom: 1px solid #fff;
  color: var(--mainColor);
  font-size: 20px;
  display: inline-block;
  font-weight: 500;
  width: auto;
  margin-right: 5px;
  vertical-align: bottom;
  min-height: 30px;
  cursor: pointer;
}
#contact #left .input_wr .load_ctnt { border: none; color: #fff; height: 32px; }
#contact #left .input_wr .hide.hidden { display: none; }
#contact #left .input_wr span#load_title{ height: 0; min-width:130px;max-width: 260px; text-overflow: ellipsis; overflow: hidden;-webkit-line-clamp: 1; -webkit-box-orient: vertical;word-break:keep-all; }
#contact #left .input_wr span#load_cate{ height: 0; min-width:200px; max-width: 390px; text-overflow: ellipsis; overflow: hidden;-webkit-line-clamp: 2; -webkit-box-orient: vertical;word-break:keep-all; }
#contact #left .input_wr span#load_cate > strong:last-child{ display:none; }
#contact #left .input_wr span#load_budget{ height: 0; min-width:115px; }
#contact #left .input_wr span#load_time{ height: 0; min-width:85px; }
#contact #left .input_wr span.min_auto{ min-width:auto !important;border-bottom:0 !important;margin-right:0;vertical-align:text-top; word-break: keep-all; word-wrap: break-word; }
#contact #left .input_wr span.load_title.min_auto{ vertical-align:text-top;}

@keyframes move {
  0% { opacity:1; }
  50%{ opacity:1; transform: translateY(20px) ; }
  100% { opacity:0; transform: translateY(40px); }
}
.contact_cname{position:relative;}
.contact_cname > div::after{content:"";position:absolute;width:0;height:3px; background:#191919;left:0;bottom:0;}
.contact_cname > div.on::after{width:100%;transition:all .5s;}
#contact #right .control-group > .contact_tit { margin-bottom: 20px; font-size: 20px; font-weight: 300;}
.control-group.contact_type > .contact_tit { margin-bottom: 6px !important;}
.control-group.contact_type > p { margin-bottom: 20px; }
#contact #right .contact_charger .contact_tit { margin-bottom: 20px; font-family: 'Pretendard',sans-serif; font-size: 20px; font-weight: 300;}
#contact #right .control-group > div{ position:relative; margin-left: 0; }
#contact #right .control-group > div:after{content:"";position:absolute;width:0;height:3px; background:#191919;left:0;bottom:0;}
#contact #right .control-group > div.on:after{width:100%;transition:all .5s;}

/* #contact #formMail{float:right;width:52%;} */

.formTitle{font-size:14px; color:#333; margin-bottom:10px; /*display:inline-block;*/}
#right .control-group { margin-bottom: 23px; margin-top: 35px; }
#right .contact_title { margin-top: 50px; }
#right .contact_budget { margin-bottom: 25px !important; }
#right .contact_timeline { margin-top: 35px !important; margin-bottom: 35px; }
#right .control-group input { font-family: "Pretendard", sans-serif; }
#right .form-control{font-size:13px; font-weight:400;}
.form-control{
  display:block;
  width: 100%;
  height: 45px;
  padding: 0;
  line-height: 1.42857143;
  color: #fff;
  background-color: transparent;
  background-image: none;
  box-sizing: border-box;
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid #DBDBDB !important;
  position: relative;
}
.form-control label{color:#fff;}

/* about project */
.form-control-text{
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  resize:none;
  min-height: 1rem;
  padding-top: 11px;
  overflow-y: hidden;
  font-size: 13px; font-weight: 400; color:#fff;
  line-height: 19px;
}
.form-control:focus { outline: 0; border-color: var(--mainColor) !important; }
.form-control::-moz-placeholder{color:#aaa}
.form-control:-ms-input-placeholder{color:#aaa}
.form-control::-webkit-input-placeholder{color:#aaa}
.form-control[disabled],fieldset[disabled] .form-control{cursor:not-allowed}

.budget_type_check label{display:inline-block;margin-bottom:17px;margin-right:17px;}
.time_type_check label{display:inline-block; margin-right:17px;margin-bottom:17px;}

/* 파일 첨부  */
.formmail_file{position:static; padding-top: 14px; padding-right: 20px;}
.formmail_file input[type="file"] { position: absolute; width: 0; height: 0; padding: 0; overflow: hidden; border: 0; }
.formmail_file label {
  border: 1px solid #fff;
  border-radius: 16px;
  height: 43px;
  width: 136px;
  display: inline-flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.formmail_file > label > div { font-size: 13px; margin-right: 0; margin-left: 24px;}
.formmail_file > label > img { padding-bottom: 1px; margin-left: 5px;}
.formmail_file .upload-name {
  display: inline-block;
  height: 43px;
  font-size: 13px;
  background: transparent;
  border: 0;
  padding-left: 15px;
  color: #fff;
  border-radius: 16px;
  /* width: 70%; */
  /* vertical-align: middle; */
  /* background-color: #7C7C7C;
  border-radius: 16px; */
}

.textarea_wr{position:relative;}
/* textarea.form-control{height:auto;} */
input[type="search"]{-webkit-appearance:none}
@media screen and (-webkit-min-device-pixel-ratio:0){input[type="date"].form-control,input[type="time"].form-control,input[type="datetime-local"].form-control,input[type="month"].form-control{line-height:45px}input[type="date"].input-sm,input[type="time"].input-sm,input[type="datetime-local"].input-sm,input[type="month"].input-sm,.input-group-sm input[type="date"],.input-group-sm input[type="time"],.input-group-sm input[type="datetime-local"],.input-group-sm input[type="month"]{line-height:35px}
input[type="date"].input-lg,input[type="time"].input-lg,input[type="datetime-local"].input-lg,input[type="month"].input-lg,.input-group-lg input[type="date"],.input-group-lg input[type="time"],.input-group-lg input[type="datetime-local"],.input-group-lg input[type="month"]{line-height:66px}}
.form-group{margin-bottom:15px}.radio,.checkbox{position:relative;display:block;margin-top:10px;margin-bottom:10px}
.radio label,.checkbox label{min-height:21px;padding-left:20px;margin-bottom:0;font-weight:normal;cursor:pointer}
.radio input[type="radio"],.radio-inline input[type="radio"],.checkbox input[type="checkbox"],.checkbox-inline input[type="checkbox"]{position:absolute;margin-left:-20px;margin-top:4px \9}
.radio+.radio,.checkbox+.checkbox{margin-top:-5px}
.radio-inline,.checkbox-inline{position:relative;display:inline-block;padding-left:20px;margin-bottom:0;vertical-align:middle;font-weight:normal;cursor:pointer}
.radio-inline+.radio-inline,.checkbox-inline+.checkbox-inline{margin-top:0;margin-left:10px}
input[type="radio"][disabled],input[type="checkbox"][disabled],input[type="radio"].disabled,input[type="checkbox"].disabled,fieldset[disabled] input[type="radio"],fieldset[disabled] input[type="checkbox"]{cursor:not-allowed}
.radio-inline.disabled,.checkbox-inline.disabled,fieldset[disabled] .radio-inline,fieldset[disabled] .checkbox-inline{cursor:not-allowed}
.radio.disabled label,.checkbox.disabled label,fieldset[disabled] .radio label,fieldset[disabled] .checkbox label{cursor:not-allowed}
.form-control-static{padding-top:11px;padding-bottom:11px;margin-bottom:0;min-height:36px}
.form-control-static.input-lg,.form-control-static.input-sm{padding-left:0;padding-right:0}
.input-sm{height:35px;padding:6px 9px;font-size:13px;line-height:1.5;border-radius:3px}
select.input-sm{height:35px;line-height:35px}
textarea.input-sm,select[multiple].input-sm{height:auto}
.form-group-sm .form-control{height:35px;padding:6px 9px;font-size:13px;line-height:1.5;border-radius:3px}
.form-group-sm select.form-control{height:35px;line-height:35px}
.form-group-sm textarea.form-control,.form-group-sm select[multiple].form-control{height:auto}
.form-group-sm .form-control-static{height:35px;min-height:34px;padding:7px 9px;font-size:13px;line-height:1.5}
.input-lg{height:66px;padding:18px 27px;font-size:19px;line-height:1.3333333;border-radius:6px}
select.input-lg{height:66px;line-height:66px}
textarea.input-lg,select[multiple].input-lg{height:auto}
.form-group-lg .form-control{height:66px;padding:18px 27px;font-size:19px;line-height:1.3333333;border-radius:6px}
.form-group-lg select.form-control{height:66px;line-height:66px}
.form-group-lg textarea.form-control,.form-group-lg select[multiple].form-control{height:auto}
.form-group-lg .form-control-static{height:66px;min-height:40px;padding:19px 27px;font-size:19px;line-height:1.3333333}
.has-feedback{position:relative}
.has-feedback .form-control{padding-right:56.25px}
.form-control-feedback{position:absolute;top:0;right:0;z-index:2;display:block;width:45px;height:45px;line-height:45px;text-align:center;pointer-events:none}
.input-lg+.form-control-feedback,.input-group-lg+.form-control-feedback,.form-group-lg .form-control+.form-control-feedback{width:66px;height:66px;line-height:66px}
.input-sm+.form-control-feedback,.input-group-sm+.form-control-feedback,.form-group-sm .form-control+.form-control-feedback{width:35px;height:35px;line-height:35px}
@media (min-width:768px){.form-inline .form-group{display:inline-block;margin-bottom:0;vertical-align:middle}
.form-inline .form-control{display:inline-block;width:auto;vertical-align:middle}
.form-inline .form-control-static{display:inline-block}.form-inline .input-group{display:inline-table;vertical-align:middle}
.form-inline .input-group .input-group-addon,.form-inline .input-group .input-group-btn,.form-inline .input-group .form-control{width:auto}
.form-inline .input-group>.form-control{width:100%}.form-inline .control-label{margin-bottom:0;vertical-align:middle}
.form-inline .radio,.form-inline .checkbox{display:inline-block;margin-top:0;margin-bottom:0;vertical-align:middle}
.form-inline .radio label,.form-inline .checkbox label{padding-left:0}
.form-inline .radio input[type="radio"],.form-inline .checkbox input[type="checkbox"]{position:relative;margin-left:0}
.form-inline .has-feedback .form-control-feedback{top:0}}
.form-horizontal .radio,.form-horizontal .checkbox,.form-horizontal .radio-inline,.form-horizontal .checkbox-inline{margin-top:0;margin-bottom:0;padding-top:11px}
.form-horizontal .radio,.form-horizontal .checkbox{min-height:32px}
.form-horizontal .form-group{margin-left:-15px;margin-right:-15px}
@media (min-width:768px){.form-horizontal .control-label{text-align:right;margin-bottom:0;padding-top:11px}}
.form-horizontal .has-feedback .form-control-feedback{right:15px}
@media (min-width:768px){.form-horizontal .form-group-lg .control-label{padding-top:24.9999994px;font-size:19px}}
@media (min-width:768px){.form-horizontal .form-group-sm .control-label{padding-top:7px;font-size:13px}}

input[type="submit"].btn-block,input[type="reset"].btn-block,input[type="button"].btn-block{width:100%}
.form-control:focus,input:focus{-webkit-box-shadow:none;box-shadow:none}

/* 담당자 소개 */
#contact #right .contact_charger { padding-bottom: 0px; }
#contact #right .contact_charger .charger-box { display: flex; flex-flow: row wrap; }
#contact #right .contact_charger .control-group { display: contents; }
#contact #right .contact_charger .control-group .form-control { width: 348px; }
#contact #right .contact_charger .control-group .form-control:nth-child(2n) { padding-left: 20px; }
#contact #right .contact_charger .charger-box .control-group div { margin-bottom: 15px; margin-right: 0;} 
#contact #right .contact_charger .charger-box .control-group div:nth-child(2n) { margin-left: 20px; }

/*** END formmail css ***/

.contact_stit{ font-weight:300; color:#999999; line-height: 22px;}

/* 문의 폼 */
.qatype_check .qatype00{margin-right:17px;}
.qatype00{display:inline-block;}
.qatype00 input{position: absolute; padding: 0; margin: 0; -webkit-appearance: none; -moz-appearance: none; appearance: none; visibility: hidden; opacity: 0;}

/* 개인정보동의 */
.qatype00 input[type="checkbox"]:checked + label span.cbox{border:1px solid #fff; color:#fff;}

.cb-checkbox_rounded-box {
	cursor:pointer;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 18px 40px;
  overflow: hidden;
  font-size: 16px;
  border: 1px solid #fff;
  border-radius: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: opacity .4s;
  -o-transition: opacity .4s;
  -moz-transition: opacity .4s;
  transition: opacity .4s;
}
.qatype00 input:checked~.cb-checkbox_rounded-box { border: none; padding: 19px 41px; }

.cb-checkbox_rounded-ripple {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  transform: translateZ(0);
}
.qatype00 input:checked~.cb-checkbox_rounded-box .cb-checkbox_rounded-ripple {
  -webkit-mask-image: -webkit-radial-gradient(circle,var(--bgBlack) 100%,#fff 100%);
}

.cb-checkbox_rounded-ripple span {
	display: block;
	width: 100%;
	height: 100%;
	-webkit-transform: translateY(100%) translateZ(0);
	-moz-transform: translateY(100%) translateZ(0);
	transform: translateY(100%) translateZ(0);
	background: currentColor;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	-webkit-transition: -webkit-transform .5s cubic-bezier(.4,0,0,1),-webkit-border-radius .5s cubic-bezier(.4,0,0,1);
	transition: -webkit-transform .5s cubic-bezier(.4,0,0,1),-webkit-border-radius .5s cubic-bezier(.4,0,0,1);
	-o-transition: border-radius .5s cubic-bezier(.4,0,0,1),-o-transform .5s cubic-bezier(.4,0,0,1);
	-moz-transition: transform .5s cubic-bezier(.4,0,0,1),border-radius .5s cubic-bezier(.4,0,0,1),-moz-transform .5s cubic-bezier(.4,0,0,1),-moz-border-radius .5s cubic-bezier(.4,0,0,1);
	transition: transform .5s cubic-bezier(.4,0,0,1),border-radius .5s cubic-bezier(.4,0,0,1);
	transition: transform .5s cubic-bezier(.4,0,0,1),border-radius .5s cubic-bezier(.4,0,0,1),-webkit-transform .5s cubic-bezier(.4,0,0,1),-moz-transform .5s cubic-bezier(.4,0,0,1),-o-transform .5s cubic-bezier(.4,0,0,1),-webkit-border-radius .5s cubic-bezier(.4,0,0,1),-moz-border-radius .5s cubic-bezier(.4,0,0,1);
}
.qatype00 input:checked~.cb-checkbox_rounded-box .cb-checkbox_rounded-ripple span {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-transform: translateY(0) translateZ(0);
    -moz-transform: translateY(0) translateZ(0);
    transform: translateY(0) translateZ(0);
    -webkit-transition-duration: 0s,0s;
    -moz-transition-duration: 0s,0s;
    -o-transition-duration: 0s,0s;
    transition-duration: 0s,0s;
    -webkit-animation: cb-checkbox_rounded-ripple-in .5s cubic-bezier(.4,0,0,1);
    -moz-animation: cb-checkbox_rounded-ripple-in .5s cubic-bezier(.4,0,0,1);
    -o-animation: cb-checkbox_rounded-ripple-in .5s cubic-bezier(.4,0,0,1);
    animation: cb-checkbox_rounded-ripple-in .5s cubic-bezier(.4,0,0,1);
}

.cb-checkbox_rounded-title {
  position: relative;
  top: -1px;
  display: block;
  overflow: hidden;
}
.cb-checkbox_rounded-title span {
  display: block;
  position: relative;
  z-index: 2;
  -webkit-transition: color .2s,-webkit-transform .4s;
  transition: color .2s,-webkit-transform .4s;
  -o-transition: color .2s,-o-transform .4s;
  -moz-transition: color .2s,transform .4s,-moz-transform .4s;
  transition: color .2s,transform .4s;
  transition: color .2s,transform .4s,-webkit-transform .4s,-moz-transform .4s,-o-transform .4s;
  -webkit-transform-origin: left top;
  -moz-transform-origin: left top;
  -ms-transform-origin: left top;
  -o-transform-origin: left top;
  transform-origin: left top;
}
.qatype00 label .cb-checkbox_rounded-box .cb-checkbox_rounded-title {
  position: relative;
  display: block;
  overflow: hidden;
  z-index: 2;
  color: #fff;
}
.qatype_check .qatype00 label .cb-checkbox_rounded-box .cb-checkbox_rounded-title {
  color: #fff;
}
.qatype00 label .cb-checkbox_rounded-box .cb-checkbox_rounded-title span {
  display: block;
  text-align: center;
  transform-origin: left top;
  transition: color 0.2s, transform 0.4s;
  font-size: 13px;
}
.qatype00 label .cb-checkbox_rounded-box .cb-checkbox_rounded-title span:after {
  content: attr(data-text);
  display: block;
  position: absolute;
  top: 150%;
  left: 0;
  transform: skewY(5deg);
  transform-origin: left top;
  transition: transform 0.4s;
}
.qatype00 label .cb-checkbox_rounded-box .cb-checkbox_rounded-ripple {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  overflow: hidden;
  transform: translateZ(0);
  border-radius: inherit;
}
.qatype00 label .cb-checkbox_rounded-box .cb-checkbox_rounded-ripple span {
  display: block;
  width: 100%;
  height: 100%;
  transform: translateY(105%);
  background-color: #ffffff6b;
  border-radius: 50%;
  transition: transform 0.5s cubic-bezier(0.4, 0, 0, 1), border-radius 0.5s cubic-bezier(0.4, 0, 0, 1);
  animation: none;
}
@keyframes __capsule--rounded-ripple-in {
  0% {
    border-radius: 100%;
    transform: translateY(-105%) translateZ(0);
  }
  100% {
    border-radius: 0;
    transform: translateY(0) translateZ(0);
  }
}
@media (hover: hover) {
  .qatype00 label .cb-checkbox_rounded-box:hover .cb-checkbox_rounded-title span {
    transform: translateY(-150%) skewY(-7deg);
  }
  .qatype00 label .cb-checkbox_rounded-box:hover .cb-checkbox_rounded-title span:after {
    transform: skewY(7deg);
  }
}
.qatype00 label input:checked + .cb-checkbox_rounded-box .cb-checkbox_rounded-title span {
  color: var(--mainColor);
  transform: translateY(-150%) skewY(-7deg);
}
.qatype00 label input:checked + .cb-checkbox_rounded-box .cb-checkbox_rounded-title span:after {
  transform: skewY(7deg);
}
.qatype00 label input:checked + .cb-checkbox_rounded-box .cb-checkbox_rounded-ripple span {
  border-radius: 0;
  transform: translateY(0);
  transition-duration: 0s, 0s;
  animation: __capsule--rounded-ripple-in 0.5s cubic-bezier(0.4, 0, 0, 1);
}

@media screen and (max-width:570px){
	.contact_left{float:left; width:100%; margin-right:0%; margin-bottom:30px;}
	#right{float:left; width:100%;}
	.formTitle{display:none;}
	.contact_type{margin-bottom:20px;}

	.cb-checkbox_rounded-box{height:40px; padding: 0 15px; font-size:12px;}
	.control-privacy .agree-text{font-size:3.2vw;}
	.btn-lg, .btn-group-lg>.btn{font-size:14px; padding: 25px 45px;}
}


.visible1700{display:none;}
.hidden1700{display:inline-block;}

.visible1440{display:none;}
.hidden1440{display:inline-block;}
@media screen and (max-width:1700px ){
	.visible1700{display:block;}
	.hidden1700{display:none;}
}
@media screen and (max-width:1600px ){
	#contact #left .input_wr .input_line_wr{margin-bottom:30px;}
}
@media screen and (max-width:1440px ){
	.visible1440{display:block;}
	.hidden1440{display:none;}

	#contact{padding-top:100px;}
	
	#contact #left .input_wr{font-size:22px;}
	#contact #left h3{font-size:50px; padding-bottom:30px;}
	#contact #left .input_wr span{font-size:22px;}
	.cb-checkbox_rounded-box{height:50px;line-height:50px;font-size:14px;}

	.contact_tit{ font-size: 20px; margin-bottom: 20px; }
	.contact_stit{ font-size:13px; }
	.control-group{margin-bottom:100px;}
	.form-control-text{ padding:20px; font-size:13px; max-height: 500px; }
	#right .form-control{font-size:16px;}
	.control-privacy .agree-box{font-size:14px;}
	.result_box{padding:160px 0 260px;}
	#contact #formMail .send_btn button{margin:80px 0 0 54px; }
}
@media screen and (max-width:1024px ){
	#contact{    background: url(/images/contact_result_bg.svg) no-repeat 110% 101%/40%;transition:none;}
	#contact #left{position:fixed;top:auto;left:0;z-index:99999999;background:#0a0a0a;width:100%;padding:0 5%;padding-top:60px;transition:all 1s; height: auto; }
	#contact #left.active{bottom:0;}
	#contact #left h3{color:#fff;font-size:40px; padding-bottom:40px;}
	#contact #left .input_wr{font-size:20px;}
	#contact #left .input_wr .input_line_wr:last-child{color:#fff;margin-top:50px;}
	#contact #left .send_btn{height:70px;width:100%;color:#fff;font-size:24px; text-align:center;border-top:1px solid #ddd;margin-top:60px;}
	#contact #left .send_btn button{width:100%;height:80%; background:transparent; border-radius:0;color:#fff;font-size:24px;font-weight:700;outline:none !important;}
	#contact #formMail{float:none;width:100%;}
	#contact #left .scroll_box{display:none;}
	.control-privacy{margin-bottom:100px;}
	.result_box{position:fixed;bottom:-70px;left:0;width:100%;padding:0;height:70px; background:#191919;z-index:99999998;transition:all 0.5s; transition-delay:0.1s;}
	.result_box.active{bottom:0; }
	.result_box > div{height:100%;}
	#contact #formMail .send_btn{width:100%;height:100%;float:none;transform:none;border-radius:0;transition:none;}
	#contact #formMail .send_btn a{margin:0;text-align:center;width:100%;height:100%;font-size:24px;color:#fff;display:block;font-weight:700;line-height:70px;}
}
@media screen and (max-width:768px ){
	#contact{background:none;}
	#contact #left{background:#0a0a0a url('/images/contact_result_bg.svg') no-repeat 110% 101% / auto 100%;}
	.contact_tit{font-size:24px; margin-bottom:25px;}
	.control-group{margin-bottom:80px;}
	.form-control{font-size:16px;}
	.formmail_file input{font-size:14px;padding-top:10px;}
	.formmail_file label{bottom:45px;}
	.form-control{padding-left:5px;height:40px;}
	.form-control-text{padding:15px;}
	#right .control-group{margin-bottom:20px;}
	.control-privacy{margin-bottom:80px;}
	#contact #left{padding-top:40px;}
	#contact #left h3{font-size:36px; padding-bottom:30px;}
	#contact #left .send_btn button{font-size:22px;}
	#contact #left .input_wr{font-size:18px;}
	#contact #left .input_wr span{font-size:20px;line-height:normal;}	
	#contact #left .input_wr span.min_auto{vertical-align: inherit;}	
	#contact #formMail .send_btn a{font-size:22px;line-height:/*80px*/60px;}	
	#contact #left .send_btn{margin-top:40px;height:80px;}	
	#contact #left .input_wr .input_line_wr{margin-bottom:10px;}
	.result_box{height:80px;bottom:-80px;}
}
@media screen and (max-width:480px ){
	#contact{padding-top:60px;}
	.contact_tit{font-size:5.2vw;margin-bottom:15px;}
	.control-group{margin-bottom:60px;}
	.contact_stit{font-size:3.8vw;}
	.cb-checkbox_rounded-box{font-size:2.8vw;height:40px; line-height:40px;}
	.form-control{font-size:3.2vw;}
	.qatype_check .qatype00{margin-right:5px;}
	.budget_type_check label{margin-right:5px;margin-bottom:10px;}
	.time_type_check label{margin-right:5px;margin-bottom:10px;}
	.formmail_file input{font-size:3.2vw;}
	.formmail_file label{width:40px;height:40px;bottom:40px;right:15px;}
	.formmail_file label img{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);}
	#right .form-control{font-size:3.2vw;}
	.contact_cont{margin-bottom:0;}
	.control-privacy .agree-box{font-size:3.2vw;}
	.control-privacy .agree-box input[type="checkbox"] + label span.cbox{margin-right:10px;    vertical-align: middle;}
	.control-privacy{margin-bottom:60px;}
	#contact #left .send_btn button{font-size:4.2vw;}
	#contact #formMail .send_btn a{font-size:4.2vw;}
	#contact #left h3{font-size:6vw;padding-bottom:20px;}
	#contact #left .input_wr{font-size:3.8vw;}
	#contact #left .input_wr span{font-size:4.3vw;}
	#contact #left .input_wr span#load_cate{min-width:150px}
	#contact #left .input_wr span#load_cate > strong:last-child{display:none;}
	#contact #left .input_wr span.load_title{min-width:200px;max-width: 220px; text-overflow: ellipsis; overflow: hidden;-webkit-line-clamp: 1; -webkit-box-orient: vertical;word-break:keep-all;}
	#contact #left .input_wr span#load_budget{min-width:100px;}
	#contact #left .input_wr span#load_time{min-width:70px;}
	#contact #left .input_wr .input_line_wr:last-child{margin-top:0;}

}
@media screen and (max-width:320px ){
	.cb-checkbox_rounded-box{padding:0 10px;}
	.qatype_check .qatype00{margin-right:0px;}
}

