/* header */

* { margin: 0 auto; }
header {
    max-width: 1100px;
    height: 60px;
    top: 1rem; left: 0; right: 0;
    position: fixed;
    display: block;
    justify-content: center;
    align-items: center;
    z-index: 9;
}
.header-wrap1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    max-width: 1100px;
    margin: 0 20px;
}

/* header { display: flex; justify-content: center; align-items: center; margin: 0 auto;}
.header-wrap1 {
    max-width: 1100px;
    position: fixed;
    top: 1rem; left: 0; right: 0;
    display: flex;
    justify-content: space-between;
    padding-top: 1.2rem; padding-bottom: 2rem;
    padding-left: 20px; padding-right: 20px;
    z-index: 9;
} */
.logo { margin: 0;}
.logo img { width: 150px; }
.menu {
    display: flex;
    justify-content: space-between;
    color: #fff;
    margin: 0;
}
.menu > a { display: inline-flex; align-items: center;}
.menu > a > p:hover { color: var(--mainColor); }
.menu > a > p {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.01em;
    color: var(--gray2);
}

/* footer */
footer {
    font-family: 'Pretendard';
    max-width: 100%;
    min-height: 12.5rem;
    background-color: #121211;
    /* display: flex; */
    /* justify-content: center; */
    margin: 0 auto;
}
.footer-box {
    margin: 0 26px;
    max-width: 100%;
    height: auto;
    padding: 50px 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
    background-color: #121211;
    color: #fff;
}
.logo-box { margin-right: 9.7rem; margin-left: 0; width: 240px; }
.logo-box > img { width: 150px; }
.logo-box > p { margin-top: 1rem; color: var(--darkGray); font-size: 14px; width: 220px; }
.location { margin-right: 140px; }
.location > p { margin-bottom: 12px; font-weight: 800;}
.address { color: var(--darkGray); font-size: 14px; margin-top: 1rem; width: 340px; }
.address > p { margin-bottom: 5px; }
.address > p:nth-child(1) { color: var(--lightGray); margin-bottom: 10px; }
.tel { 
    color: var(--lightGray);
    display: flex;
    font-size: 14px;
    margin-top: 2.4rem;
    width: 260px;
}
.tel > span { margin-left: 0; margin-right: 4px; }
.tel > p { margin-left: 0; }
.tel > p { margin-right: 50px; }
.tel > p:first-child { margin-right: 0; }

@media screen and (max-width: 768px) { .header-wrap1 { max-width: 728px; }}
@media screen and (max-width: 360px) { header { max-width: 320px; }}