/* header */

* { margin: 0 auto; }
/* body { display: flex; flex-direction: column; } */
header {
    max-width: 1100px;
    height: 60px;
    top: 1rem; left: 0; right: 0;
    position: fixed;
    display: block;
    justify-content: center;
    align-items: center;
    z-index: 9;
    /* margin: 0 30px; */
}
.header-wrap1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    max-width: 1100px;
    /* margin: 0 30px; */
}
.header-wrap1.header-blur {
    border-radius: 16px;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    height: 3.75rem;
    padding-top: 5.7rem;
    top: -4rem;
    padding: 0 20px;
    position: sticky;
    transition: all .3s;
}
.logo { margin: 0;}
.logo img { width: 150px; }
.menu {
    display: flex;
    justify-content: space-between;
    color: #fff;
    margin: 0;
}
.menu > a { display: inline-flex; align-items: center;}
.menu > a > p:hover { color: var(--mainColor); }
.menu > a > p {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.01em;
    color: var(--gray2);
}

/* footer */
footer {
    width: 100%;
    min-height: 12.5rem;
    background-color: #121211;
    display: flex;
    justify-content: center;
    font-family: 'Pretendard';
    margin: 0 auto;
}
.footer-box {
    width: 1100px;
    height: auto;
    margin: 0 26px;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
    background-color: #121211;
    color: #fff;
}
.logo-box { margin-left: 0; width: 240px; }
.logo-box > img { width: 150px; }
.logo-box > p { margin-top: 1rem; color: var(--darkGray); font-size: 0.875rem; max-width: 220px; }
/* .location { margin-right: 140px; } */
.location > p { margin-bottom: 12px; font-weight: 800;}
.address { color: var(--darkGray); font-size: 0.875rem; margin-top: 1rem; width: 340px; padding-right: 20px; }
.address > p { margin-bottom: 5px; }
.address > p:first-child { color: var(--lightGray); margin-bottom: 10px; }
.tel { 
    color: var(--lightGray);
    display: flex;
    font-size: 14px;
    margin-top: 2.2rem;
    width: 260px;
}
.tel > span { margin-left: 0; margin-right: 4px; }
.tel > p { margin-left: 0; }
.tel > p { margin-right: 50px; }
.tel > p:first-child { margin-right: 0; }

@media screen and (max-width: 1150px) { 
    .header-wrap1 {margin: 0 30px;}
    /* body {display: flex; flex-direction: column;} */
    main {flex: 1}
}
@media screen and (max-width: 900px) { .tel {margin-bottom: 50px;}}
@media screen and (max-width:940px) and (min-width: 725px) {
    .footer-box {justify-content: space-between;}
    .tel {margin-top: 2.15rem;}
}
@media screen and (max-width: 768px) { 
    .menu > a {display: none;}
    .menu > a:last-child {display: flex;}
    .footer-box {justify-content: space-between;}
}
@media screen and (max-width: 714px) {
    /* .footer-box {padding: 50px 0; justify-content: space-between;} */
    .logo-box {margin-bottom: 1.875rem;}
    .address {max-width: 260px;}
    .tel {margin-top: 1.875rem;}
}
@media (max-width: 680px) { .logo-box {margin-bottom: 1.875rem;} }