* { margin: 0 auto; }
header {
    max-width: 1100px;
    height: 60px;
    position: sticky;
    top: -4rem;
    display: block;
    justify-content: center;
    align-items: center;
    padding-top: 5.7rem;
    z-index: 9;
}
@media all and (max-width: 360px) {
    .header-wrap { padding-top: 0 !important; }
}
.header-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    max-width: 1100px;
    margin: 0 30px;
}
.header-wrap.header-blur {
    border-radius: 16px;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    height: 3.75rem;
    padding-top: 5.7rem;
    top: -4rem;
    padding: 0 20px;
    position: sticky;
    transition: all .3s;
}

.logo { margin: 0; margin-left: 5px; display: inline-flex; justify-content: flex-start;}
.logo img { width: 150px; }
.menu {
    display: flex;
    justify-content: space-between;
    color: #fff;
    max-width: 720px;
    margin: 0;
    margin-right: 5px;
    font-family: 'Pretendard'; font-weight: 300; font-size: 16px;
}
.menu > a:last-child { margin-right: 0; padding-right: 0; display: inline-flex;}
.menu > a {
    position: relative;
    display: block;
    overflow: hidden;
    z-index: 2;
    padding-right: 20px;
}.menu > a > p {
    font-family: 'Pretendard';
    font-style: normal; font-weight: 300; font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.01em;
    color: var(--gray2);
    
    display: block;
    text-align: center;
    transform-origin: left top;
    transition: color 0.2s, transform 0.4s;

    display: block;
    position: relative;
    z-index: 2;
    -webkit-transition: color .2s,-webkit-transform .4s;
    transition: color .2s,-webkit-transform .4s;
    -o-transition: color .2s,-o-transform .4s;
    -moz-transition: color .2s,transform .4s,-moz-transform .4s;
    transition: color .2s,transform .4s;
    transition: color .2s,transform .4s,-webkit-transform .4s,-moz-transform .4s,-o-transform .4s;
    -webkit-transform-origin: left top;
    -moz-transform-origin: left top;
    -ms-transform-origin: left top;
    -o-transform-origin: left top;
    transform-origin: left top;
}
.menu > a > p:hover { color: var(--mainColor); }
.menu > a > p:after {
    content: attr(data-text);
    display: block;
    position: absolute;
    left: 0;
    transform: skewY(5deg);
    transform-origin: left top;
    transition: transform 0.4s;
}

/* footer */
footer {
    font-family: 'Pretendard';
    max-width: 100%;
    min-height: 12.5rem;
    background-color: #121211;
    /* display: flex;
    justify-content: center; */
    margin: 0 auto;
}
.footer-box {
    margin: 0 26px;
    max-width: 100%;
    height: auto;
    padding: 50px 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
    background-color: #121211;
    color: #fff;
}
.logo-box {  margin-left: 0; width: 240px; }
.logo-box > img { width: 150px; }
.logo-box > p { margin-top: 1rem; color: var(--darkGray); font-size: 0.875rem; max-width: 220px; }
.location > p { margin-bottom: 12px; font-weight: 800;}
.address { color: var(--darkGray); font-size: 0.875rem; margin-top: 1rem; max-width: 340px; }
.address > p { margin-bottom: 5px; }
.address > p:first-child { color: var(--lightGray); margin-bottom: 10px; }
.tel { 
    color: var(--lightGray);
    display: flex;
    font-size: 14px;
    margin-top: 2.4rem;
    max-width: 260px;
}
.tel > span { margin-left: 0; margin-right: 4px; }
.tel > p { margin-left: 0; }
.tel > p { margin-right: 50px; }
.tel > p:first-child { margin-right: 0; }


@media screen and (max-width:940px) and (min-width: 725px) {
    .footer-box {justify-content: space-between;}
    .tel {margin-top: 1rem;}
}
@media screen and (max-width: 768px) { 
    .menu > a {display: none;}
    .menu > a:last-child {display: flex;}
    .footer-box {justify-content: space-between;}
}
@media screen and (max-width: 714px) and {
    .footer-box {padding: 50px 0; justify-content: space-between;}
    .logo-box {margin-bottom: 1.875rem;}
    .address {max-width: 260px;}
    .tel {margin-top: 1.875rem;}
}
@media (max-width: 680px) { .logo-box {margin-bottom: 1.875rem;} }