/* 상단 문의버튼 box */
.sub-box {
    border-radius: 16px;
    background-color: #ffffff3a;
    margin-top: 1.25rem;
    width: 1100px;
    height: 3.75rem;
    /* -moz-transition: all 2s ease;
    -webkit-transition: all 2s ease;
    -ms-transition: all 2s ease;
    transition: all 2s ease; */
}
.sub-p {
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
}
.sub-icon { margin: 0; }
.sub-ctnt {
    font-size: 1rem;
    color: #fff;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    margin-right: 18rem;
    margin-left: 1rem;
}
.sub-btn {
    background-color: var(--mainColor);
    border: 2px solid var(--mainColor);
    border-radius: 16px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    margin: 0.75rem 0;
    font-size: 0.85rem;
    color: #fff;
}
.sub-btn:hover {
    background-color: #fff;
    border: 2px solid var(--mainColor);
    color: var(--mainColor);
    font-weight: bolder;
    transition: all .5s;
}

/* main */
#main-ctnt { position: relative; margin-bottom: 10rem; }
.main-box {
    width: 1100px;
    height: 280px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8rem 0;
}
.main-kr {
    position: absolute;
    font-size: 1.8rem;
    padding-top: 1rem;
}
.main-en {
    position: absolute;
    font-size: 3.5rem;
    line-height: 8rem;
    color: #ffffff63;
}
.main-detail {
    padding-top: 25rem;
    color: var(--lightGray);
}

/* main slide */
/* .main-bg {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
} */
/* .main-bg ul.bg-slide {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.main-bg ul.bg-slide li {
    float: left;
    position: relative;
    width: 100%;
    height: 100%;
}
.main-bg ul.bg-slide img {
    display: block;
} */
/* .slide-btn {  */
    /* display: none; */
    /* position: absolute;
    width: 500px;
    height: 100vh;
    top: 50%;
    margin-top: -25px;
    line-height: 57px;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.1);
    z-index: 100;
} */

/* #mainWhoWeAre { width: 100%; background-color: var(--bgBlack);} */
.intro-wrap { width: 1100px; }
.intro-ctnt { text-align: center; margin-bottom: 5rem; }
.intro-ctnt > h2 { margin-bottom: 1rem; }
.intro-ctnt > p { color: var(--lightGray); }
.intro-list { display: flex; margin-bottom: 6.875rem; }
.intro-list li:nth-child(1) { margin-left: 0; }
.intro-list li:nth-child(4) { margin-right: 0; }
.intro-list > li {
    border-radius: 16px;
    width: 260px;
    height: 260px;
    margin: 10px;
    position: relative;
    display: inline-flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    /* transform: translateX(-50%);
    translate: 1s all; */
}
/* .intro-list > li > p:hover { top: 100px; } */
.intro-list > li > p {
    position: absolute;
    top: 220px;
    font-family: 'Pretendard-Regular';
    translate: 1s all;
}
/* .intro-list :hover {
    cursor: pointer;
} */

/* Our Values */
#mainOurValues { background: url(../img/values_bg.png) no-repeat; }
#mainOurValues .wrap { display: flex; align-items: center; }
.v-ctnt1 { padding-right: 5rem;}
.v-ctnt1 > h2 { margin-bottom: 1rem; }
.v-ctnt1 > p { color: var(--lightGray); }
.v-ctnt2 {
    border-radius: 16px;
    background-color: #00000091;
    /* -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px); */
    padding: 7.5rem 0;
    padding-left: 3.5rem;
    padding-right: 8rem;
}
.v-ctnt2 > h3 { padding-bottom: 1rem; font-size: 1.5rem;}
.v-ctnt2 > p { line-height: 1.5rem; }

/* Business Process */
#mainBusinessProcess .wrap { margin-bottom: 1.875rem; }
.process-ctnt { text-align: center; margin-bottom: 5rem; }
.process-ctnt > h2 { margin-bottom: 1rem; }
.process-ctnt > p { color: var(--lightGray); }
.process-list-wrap {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-right: 1.25rem;
    /* content: ''; */
    /* position: absolute; */
    /* left: 5%; top: 5%; */
    /* transform: translateZ(-100px); */
}
.process-list-wrap > li {
    width: 260px;
    height: 260px;
    margin-right: 20px;
    position: relative;
}
.process-list-b { bottom: 45px; }
.process-num {
    font-family: 'Montserrat-bi';
    font-size: 1.875rem;                                    
    color: #ffffff63;
    position: absolute;
}
.process-list-t > .process-num { margin-bottom: 27px; }
.process-list-b > .process-num { margin-top: 9px; }
.process-nm-t, .process-nm-b {
    width: 130px;
    position: absolute; 
    font-family: 'Pretendard-Regular';
}
.process-nm-t { right: 7rem; top: 1rem; }
.process-nm-b { right: 7rem; bottom: -2.1rem; }
.process-img {
    width: 260px;
    height: 200px;
    margin-top: 3rem;
}

/* Rootcore Way */
#mainRootcoreWay { background: url(../img/way_bg.png) no-repeat;}
.way-ctnt { text-align: center; margin-bottom: 3.125rem; }
.way-ctnt > h2 { margin-bottom: 1rem; }
.way-ctnt > p { color: var(--lightGray); }
.way-ctnt > p, .way-nm, .team-nm, .team-nm-en { font-family: 'Montserrat-m'; }
.way-p, .team-nm-detail, .team-tag { font-family: 'Pretendard-Regular'; }
.way-wrap { display: grid; }
.way-list { display: flex; margin-bottom: 20px; }
.way-list li:nth-child(1) { margin-left: 0; }
.way-list li:nth-child(4) { margin-right: 0; }
.way-img {
    border-radius: 16px;
    width: 260px;
    height: 300px;
    margin-right: 20px;
    display: inline-flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: relative;
}
.way-nm {
    font-size: 1.25rem;
    position: absolute;
    top: 7rem;
    font-weight: bold;
}
.way-p {
    margin: 1.25rem; 
    position: absolute;
    bottom: 5.5rem;
}
.team-list { display: flex; }
.team-list li:nth-child(1) { margin-left: 0; }
.team-list li:nth-child(3) { margin-right: 0; }
.team-intro {
    width: 290px;
    height: 90px;
    border: 1px solid var(--mainColor);
    background-color: #00000091;
    border-radius: 16px;
    margin: -1px 10px;
    padding: 30px;
}
.team-desc { display: flex; height: 3.2rem; }
.team-character {
    display: flex;
    justify-content: center;
    border-radius: 50%;
    background-color: #00000091;
    width: 40px;
    height: 40px;
    margin: 0;
}
.team-names { margin-left: 20px; margin-bottom: 20px; }
.team-names > div { display: flex; margin-top: 5px; }
.team-names > div > p { margin-right: 5px;}
.team-nm-detail {
    font-size: 14px;
    color: var(--mainColor);
    margin-left: 0;
    font-weight: bold;
}
.team-nm-en { font-size: 12px; margin-left: 0; }
.team-tag {
    font-size: 14px;
    line-height: 1.25rem;
    color: var(--lightGray);
}

/* Our work */
#mainOurWork {
    background: url(../img/work_bg.png) no-repeat center center fixed;
    overflow: auto;
    padding-bottom: 0;
}
#mainOurWork > .wrap { background-attachment : scroll; }
.work-ctnt { text-align: center; margin-bottom: 5rem; }
.work-ctnt > h2 { margin-bottom: 1rem; }
.work-ctnt > p { color: var(--lightGray); }
.work-ctnt > p, .team-nm, .team-nm-en { font-family: 'Montserrat-m'; }
.work-nm, .work-desc { font-family: 'Pretendard-Regular'; z-index: 1; }
.work-nm { font-size: 1.25rem; }
.work-list {
    width: 1100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* display: grid;
	grid-template-columns: repeat(3, 21rem);
    gap: 35px 50px; */
}
.three-imgs { display: flex; margin: 0;}
.three-imgs .work-list-ctnt {
    border-radius: 16px;
    width: 21rem;
    height: 26rem;
    /* background-color: #00000091; */
    margin: 35px 25px;
    display: flex;
    position: relative;
}
.three-imgs .work-list-ctnt:hover .list-dark { opacity: 0.4; }
.three-imgs .work-list-ctnt:hover .magnify { opacity: 1; }
.three-imgs .work-list-ctnt:nth-child(2) { top: 70px; }
.work-img, .work-nm, .work-desc { position: absolute; }
.work-nm {
    font-weight: bold;
    bottom: 80px;
    left: 30px;
}
.work-desc { bottom: 30px; left: 30px; margin-right: 30px; }
.list-dark {
    position: absolute;
    background-color: #000;
    opacity: 0;
    translate: all .5s;
    border-radius: 16px;
    width: 20.85rem;
    height: 26.25rem;
}
.magnify {
    position: absolute;
    top: 11rem;
    left: 9rem;
    color: #fff;
    text-align: center;
    opacity: 0;
    /* translate: all 2s linear; */
}
.work-more { margin: 5rem 0; transition: all .5s; }
.work-more:hover { transform: rotate(90deg); }

/* Join Us */
#mainJoinUs { background: url(../img/contact.png) no-repeat; padding-bottom: 0; }
#mainJoinUs .wrap { display: flex; align-items: center; }
.join-wrap { padding-right: 6.5rem; padding-bottom: 5rem; }
.join-wrap > h2 { margin-bottom: 1rem; }
.join-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #00000091;
    border-radius: 16px;
    width: 42.5rem;
    height: 8.5rem;
    padding: 2.5rem;
    margin-bottom: 4.6rem;
}
.join-ctnt { margin-left: 1.5rem; margin-bottom: 1rem; }
.join-btns { display: flex; margin-top: 10px; }
.join-btn, .apply-btn {
    border: 1px solid #fff;
    border-radius: 16px;
    width: 19rem;
    height: 4rem;
    font-size: 1.25rem;
    color: #fff;
    list-style: none;
}
.join-btn { margin-right: 2rem; }
.join-btn:hover, .apply-btn:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid #fff;
    transition: all 0.5s;
}