* { margin: 0 auto; }
body { position: relative; max-width: 100%; }
body h2 { font-size: 1.875rem; font-family: 'Montserrat', sans-serif; font-weight: 900; font-style: italic; }
main { 
    position: absolute;
    max-width: 100%;
    height: auto;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: all 1s;
}

/* main slide */
.main-bg { max-width: 100%; max-height: 937px; position: relative; }
.bg-slide { position: relative; padding: 0;}
.slick-dots { bottom: 40px !important; }
.slick-dots li { width: 10px !important; }
.slick-dots li.slick-active button:before { opacity: 1 !important; color: var(--mainColor) !important; }
.slick-dots li button:before { opacity: 40% !important; color: #fff !important; }
.slick-prev {
    height: 937px !important;
    left: 0px !important;
    width: 10% !important;
    cursor: url(../img/angle_left.png) !important;
    opacity: 50% !important;
    z-index: 1 !important;
}
.slick-next {
    height: 30px !important;
    right: 0px !important;
    width: 10% !important;
    opacity: 50% !important;
    z-index: 1 !important;
    cursor: url(../img/angle_right.png) !important;
}

/* 상단 문의버튼 box */
#submit {
    max-width: 1100PX;
    max-height: 60px;
    position: relative;
    bottom: 8rem;
    display: block;
    z-index: 2;
}
.sub-box {
    display: block;
    align-items: center;
    border-radius: 16px;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(2px);
    margin: 0 20px;
}
.sub-p {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    max-width: 100%;
    height: 60px;
}
.sub-p > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sub-p > div > img { width: 50px; }
.sub-p > div > p { 
    font-family: 'Pretendard'; font-size: 1rem; font-weight: 300;
    color: #fff;
    margin-right: 30px;
    display: inline-flex;
    align-items: center;
}
.sub-p > a { margin: 0; }
.sub-btn {
    background-color: var(--mainColor);
    border: 2px solid var(--mainColor);
    border-radius: 16px;
    width: 83px;
    padding: 7px 15px;
    margin: 14px 0;
    color: #fff;
    font-family: 'Pretendard'; 
    font-size: 12px; font-weight: 300;
    flex-shrink: 0;
    width: auto;
    overflow: hidden;
    animation: marquee 20s linear infinite;
    animation-duration: 40s;
}
.sub-btn:hover {
    background-color: #fff;
    border: 2px solid var(--mainColor);
    color: var(--mainColor);
    transition: all .5s;
}
.sub-btn > span { display: inline-block; animation: moveLetter 2000ms infinite ease-in-out;}
@media(min-width:768px) {
    .sub-btn > span {
        -webkit-animation: wt-btn_sign-marquee 2s linear infinite;
        -moz-animation: wt-btn_sign-marquee 2s linear infinite;
        -o-animation: wt-btn_sign-marquee 2s linear infinite;
        animation: wt-btn_sign-marquee 2s linear infinite;
    }
    .sub-btn > span:before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        -webkit-border-radius: inherit;
        -moz-border-radius: inherit;
        border-radius: inherit;
        -webkit-transition: background .4s, -webkit-transform 1s cubic-bezier(.19, 1, .22, 1);
        transition: background .4s, -webkit-transform 1s cubic-bezier(.19, 1, .22, 1);
        -o-transition: background .4s, -o-transform 1s cubic-bezier(.19, 1, .22, 1);
        -moz-transition: background .4s, transform 1s cubic-bezier(.19, 1, .22, 1), -moz-transform 1s cubic-bezier(.19, 1, .22, 1);
        transition: background .4s, transform 1s cubic-bezier(.19, 1, .22, 1);
        transition: background .4s, transform 1s cubic-bezier(.19, 1, .22, 1), -webkit-transform 1s cubic-bezier(.19, 1, .22, 1), -moz-transform 1s cubic-bezier(.19, 1, .22, 1), -o-transform 1s cubic-bezier(.19, 1, .22, 1)
    }
}
@keyframes moveLetter { 50% {transform: translateY(100%) translateY(-100%);} }

/* 슬라이드 위 글 */
#main-ctnt {
    width: 100%;
    height: auto;
    display: block;
    position: absolute;
    align-items: center;
    margin-top: 170px;
    margin-bottom: 10rem;
    margin: 0 20px;
}
.main-box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 20px;
}
.main-kr {
    position: absolute;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding-top: 1rem;
}
.main-kr > h1 { font-family: 'Pretendard'; font-weight: 700; font-size: 2.813rem; line-height: 60px; }
.main-en { position: absolute; color: #fff; opacity: 20%; }
.main-en > h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-style: italic;
    font-size: 85px;
    letter-spacing: -0.4%;
}
.main-detail { padding-top: 19rem; color: var(--lightGray); }
.main-detail > h3 { font-family: 'Montserrat', sans-serif; font-weight: 500; font-size: 1.125rem; }

/* Who We Are */
#mainWhoWeAre { margin-top: 49.125rem; }
.intro-ctnt { text-align: center; margin-bottom: 50px; margin: 0 20px; }
.intro-ctnt > h2 { margin-bottom: 10px; }
.intro-ctnt > p { margin-bottom: 50px; color: var(--lightGray); font-family: 'Montserrat', sans-serif; font-weight: 500; }
.intro-list { display: flex; justify-content: center; align-items: center; margin: 0 20px; }
.intro-list li {
    border-radius: 16px;
    max-width: 260px;
    height: auto;
    margin: 10px;
    position: relative;
    display: inline-flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.intro-list li > img { max-width: 100%; height: auto; }
.intro-list li:hover > p { top: 50%; transition: all .5s; }
.intro-list li > p {
    position: absolute;
    top: 80%;
    translate: 1s all;
    font-size: 14px; font-family: 'Pretendard'; font-weight: 400;
    transition: all .5s;
}
.intro-list > li:hover > span {
    border-radius: 16px;
    width: 100%;
    height: 100%;
    cursor: pointer;
    position: absolute;
    display: inline-flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000 100%);
    opacity: 1;
}

/* Our Values */
#mainOurValues { display: block; background: url(../img/values_bg.png) no-repeat center; }
#mainOurValues .wrap { display: flex; align-items: center; justify-content: center; height: 345px; margin: 0 20px;}
.v-ctnt1 { max-width: 215px; padding-left: 0; padding-right: 78px; margin: 0;}
.v-ctnt1 > h2 { margin-bottom: 10px; }
.v-ctnt1 > p { color: var(--gray2); width: 215px; }
.v-ctnt2 {
    max-width: 542px;
    height: auto;
    border-radius: 16px;
    background-color: #00000091;
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    padding: 7.5rem 0;
    padding-left: 54px;
    padding-right: 131px;
    margin: 0;
}
.v-ctnt2 > h3 { padding-bottom: 1rem; font-size: 22px; font-family: 'Pretendard'; font-weight: 600;}
.v-ctnt2 > p {
    line-height: 1.5rem; 
    max-width: 542px;
    font-size: 1rem; font-family: 'Pretendard'; font-weight: 300;
}

/* Business Process */
#mainBusinessProcess { display: block; }
#mainBusinessProcess .wrap { margin: 0 20px; }
#mainBusinessProcess .wrap .process-ctnt { margin: 0 20px; margin-bottom: 50px; text-align: center; }
#mainBusinessProcess .wrap .process-wrap { 
    margin: 0 20px; 
    -ms-user-select: none; 
    -moz-user-select: -moz-none; 
    -webkit-user-select: none; 
    -khtml-user-select: none; 
    user-select: none;
    height: 258px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.process-ctnt > h2 { margin-bottom: 10px; }
.process-ctnt > p { color: var(--lightGray); margin: 0 20px; }
.process-list-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    touch-action: pan-x;
    margin: 0 20px;
}
.process-list-wrap > li {
    width: 260px;
    height: auto;
    margin-right: 20px;
    position: relative;
}
.process-list-wrap > li:last-child { margin-right: 0; }
.process-list-wrap > li:hover > .process-img > img {
    animation: undefined-easeOutBounce .8s linear 0s infinite alternate;
    -webkit-animation: undefined-easeOutBounce .8s linear 0s infinite alternate;
    -moz-animation: undefined-easeOutBounce .8s linear 0s infinite alternate;
}
@keyframes undefined-easeOutBounce {
	0% { transform: translateY(0%); }
	12% { transform: translateY(-2%); }
	24% { transform: translateY(-5%); }
	36% { transform: translateY(-9.9%); }
	54% { transform: translateY(-7%); }
	74% { transform: translateY(-10%); }
	82% { transform: translateY(-8%); }
	92% { transform: translateY(-5%); }
	96% { transform: translateY(-2.8%); }
	100% { transform: translateY(0%); }
}
.process-list-b { bottom: 58px; }
.process-num {
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-weight: 900;
    font-size: 30px;                                    
    color: #44464D;
    position: absolute;
}
.process-list-t > .process-num { margin-bottom: 27px; }
.process-list-b > .process-num { margin-top: 20px; }
.process-nm-t, .process-nm-b {
    width: 130px;
    position: absolute; 
    font-family: 'Pretendard'; font-size: 16px; font-weight: 500;
}
.process-nm-t { left: 6%; top: 1.2rem; margin-bottom: 20px; }
.process-nm-b { left: 6%; bottom: -58px; margin-top: 40px; }
.process-img { max-width: 100%; height: auto; }
.process-img > img { max-width: 100%; height: auto; margin-top: 60px; }

/* Rootcore Way */
#mainRootcoreWay { display: block; background: url(../img/way_bg.png) no-repeat center; overflow: auto; }
.way-ctnt { text-align: center; margin-bottom: 3.125rem; }
.way-ctnt > h2 { margin-bottom: 10px; }
.way-ctnt > p { color: var(--lightGray); font-family: 'Montserrat', sans-serif; font-weight: 500; margin: 0 26px; }
.way-nm, .team-names > .team-nm { font-family: 'Montserrat', sans-serif; font-weight: 700; }
.way-p, .team-nm-en, .team-tag { font-family: 'Pretendard'; font-weight: 300; }
.team-nm-detail { font-family: 'Pretendard'; font-weight: 500; }
.way-wrap { display: flex; flex-direction: column; justify-content: center; align-items: center; margin: 0 20px; }
.way-list { display: flex; justify-content: center; align-items: center; margin-bottom: 20px; }
.way-list .way-img {
    border-radius: 16px;
    max-width: 260px;
    height: auto;
    margin-right: 20px;
    position: relative;
    display: inline-flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.way-list .way-img img { max-width: 100%; height: auto; }
.way-nm { font-size: 1.25rem; font-weight: bold; }
.way-img:nth-child(3) div .way-p { padding: 0 16px; }
.way-img div { position: absolute; display: flex; flex-direction: column; justify-content: center; align-items: center; margin: 0 auto; }
.way-img .way-nm { margin-bottom: 1.375rem; }
.way-img .way-p { text-overflow: ellipsis; overflow: hidden; -webkit-line-clamp: 2; -webkit-box-orient: vertical; word-break:keep-all; }
.team-list { display: flex; }
.team-list .team-intro:nth-child(1) { margin-left: 0; }
.team-list .team-intro:nth-child(3) { margin-right: 0; }
.team-intro {
    max-width: 290px;
    height: auto;
    border: 1px solid rgba(91, 75, 11, 1);
    background: rgba(3, 7, 17, 0.2);
    border-radius: 16px;
    margin: -1px 10px;
    padding: 30px;
}
.team-desc { display: flex; height: 3.2rem; }
.team-character {
    display: flex;
    justify-content: center;
    border-radius: 50%;
    background-color: #00000091;
    width: 40px;
    height: 40px;
    margin: 0;
}
.team-names { margin-left: 20px; margin-bottom: 20px; }
.team-names > div { display: flex; margin-top: 5px; }
.team-names > div > p { margin-right: 5px;}
.team-nm-detail {
    font-size: 14px;
    font-weight: bold;
    color: var(--mainColor);
    margin-left: 0;
}
.team-nm-en { font-size: 12px; margin-left: 0; }
.team-tag { font-size: 14px; line-height: 1.25rem; color: var(--lightGray); }

/* Our work */
#mainOurWork { background: url(../img/work_bg.png) no-repeat center fixed; overflow: auto; padding-bottom: 0; }
#mainOurWork > .wrap { background-attachment : scroll; display: block; }
.work-ctnt { text-align: center; margin-bottom: 90px; }
.work-ctnt > h2 { margin-bottom: 10px; font-family: 'Montserrat', sans-serif; font-style: italic; font-weight: 900; }
.work-ctnt > p { color: var(--lightGray); font-family: 'Montserrat', sans-serif; }
.ctnt-work {
    font-family: 'Pretendard';
    z-index: 1;
    max-width: 274px;
    position: absolute;
    bottom: 0px;
    margin: 0 30px;
    margin-bottom: 30px;
}
.work-nm { font-size: 1.25rem; font-weight: 700; transition: all .5s; margin-bottom: 9px; left: 30px; }
.work-desc { font-size: 1rem; font-weight: 300; transition: all .5s; line-height: 22px; left: 30px; margin-right: 30px; }
.work-list { display: grid; place-items: center; margin: 0 30px; }
.three-imgs { 
    margin: 0 auto;
    max-width: 1100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    justify-items: center;
}
.three-imgs .work-list-ctnt {
    border-radius: 16px;
    max-width: 334px;
    height: auto;
    margin: 35px 25px;
    position: relative;
    display: inline-flex;
    align-items: center;
}
@media (min-width: 769px ) {.three-imgs .work-list-ctnt:nth-child(3n-1){top: 70px;}}
.work-img > img { max-width: 100%; height: auto; }
.three-imgs .work-list-ctnt:hover .ctnt-work { margin-bottom: 70px; transition: all .5s; }
.three-imgs .work-list-ctnt:hover .list-dark {
    position: absolute;
    background-color: #000;
    border-radius: 10px;
    top: 0;
    width: 100%;
    height: 99.1%;
    cursor: pointer;
    display: inline-flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    opacity: 0.4;
    transition: all .3s;
}
.magnify {
    position: absolute;
    top: 11rem;
    left: 8.5rem;
    color: #fff;
    text-align: center;
    opacity: 0;
}
.three-imgs .work-list-ctnt:hover .magnify { opacity: 1; transition: all .3s; }
.work-more { margin-top: 110px; margin-bottom: 100px; transition: all .5s; }
.work-more:hover { transform: rotate(90deg); }

/* Join Us */
#mainJoinUs { background: url(../img/contact.png) no-repeat center; margin-top: 0px; }
#mainJoinUs .wrap { display: flex; align-items: center; justify-content: center; margin: 0 30px; }
.join-wrap { padding-left: 0; margin-left: 0; padding-right: 105px; align-items: center; }
.join-wrap > h2 { margin-bottom: 10px; }
.join-wrap > p { font-weight: 400; max-width: 186px; }
.join-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(2px);
    border-radius: 16px;
    max-width: 727px;
    height: auto;
    padding: 2.5rem;
}
.join-ctnt { margin-left: 4px; font-size: 14px; font-family: 'Pretendard'; font-weight: 300; }
.join-btns { display: flex; justify-content: space-between; margin-top: 10px; margin-right: 40px; }
.join-btns a {
    display: block;
    justify-content: center;
    text-align: center;
    border: 1px solid #fff;
    border-radius: 16px;
    width: 70%;
    height: auto;
    padding: 1.375rem 3.6rem;
    color: #fff;
    list-style: none;
    text-decoration: underline;
    text-underline-position: under;
    text-underline-offset: 0.5px;
    text-decoration-thickness: from-font;
    font-size: 1.25rem; font-family: 'Pretendard'; font-weight: 200;
}
.join-btns img { width: 12px; margin-left: 9px;}
.join-btns button:first-child { margin-right: 60px; }
.join-btns a:hover { background-color: rgba(255, 255, 255, 0.2); border: 1px solid #fff; transition: all 0.5s; }