/*** media 768 ~ 361px ***/
@media screen and (max-width: 768px){

    /* main */
    @media (max-width: 630px) {
        .main-kr > h1 {font-size: 2.5rem;}
        .main-en > h1 {font-size: 4.9rem;}
    }
    @media (max-width: 535px) {
        .main-kr > h1 {font-size: 1.8rem;}
        .main-en > h1 {font-size: 3.9rem;}
    }
    @media (max-width: 420px) {
        .main-kr > h1 {font-size: 1.5rem; line-height: 40px;}
        .main-en > h1 {font-size: 3.125rem; line-height: 52px;}
    }
    .main-detail { padding-top: 30rem; }

    /* Who We Are */
    #mainWhoWeAre {margin-top: 45rem;}
    .intro-list { display: grid; grid-template-columns: repeat(2, 1fr); place-items: center; transform: all 1s;}
    .intro-list li {
        width: 90%;
        margin: 0;
        transition: all 1s;
        margin-bottom: 20px;
    }
    .intro-list li > img { width: 100%; }

    /* Our Values */
    #mainOurValues .wrap { display: flex; justify-content: center; flex-direction: column; }
    .v-ctnt1 { align-items: center; }
    .v-ctnt1 > p { width: 275px; }
    .v-ctnt2 { height: auto; padding: 4rem 2rem; }
    .v-ctnt2 > p > br { display: none; }

    /* Business Process */
    /* #mainBusinessProcess .wrap {overflow: hidden}
    .process-wrap {position: relative; overflow: visible;}
    .process-list-wrap {position: absolute; left: 0; top: 0; overflow: hidden;}
    .process-list-wrap li {position: relative;} */

    /* .process-wrap {
        max-width: 560px;
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    } */
    /* .process-list-wrap {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        place-items: center;
        margin-bottom: 20px;
    } */

    /* Rootcore Way */
    #mainRootcoreWay { background: url(../img/way_bg.png) no-repeat center fixed; }
    #mainRootcoreWay > .wrap { background-attachment: scroll; }
    .way-list { display: grid; justify-items: center; place-items: center; grid-template-columns: repeat(2,1fr); }
    .way-list .way-img {
        height: auto;
        position: relative;
        display: inline-flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
        margin-right: 0;
    }
    .way-list .way-img:nth-child(2n-1) { margin-right: 10px; }
    .way-list .way-img:nth-child(2n) { margin-left: 10px; }

    .team-list { display: flex; flex-direction: column; }
    .team-intro { margin: 0; margin-bottom: 20px; max-width: 540px; padding: 30px 55px 30px 30px; }

    /* Our Work */
    #mainOurWork > .wrap { margin: 0 30px; }
    .three-imgs { grid-template-columns: repeat(2, 1fr); }
    .work-list { margin: 0; }
    .three-imgs .work-list-ctnt { margin: 0; margin-right: 20px; margin-bottom: 50px; }
    .three-imgs .work-list-ctnt:nth-child(3n-1) { top: 0px; }
    .three-imgs .work-list-ctnt:nth-child(2n) { top: 45px; margin-right: 0; margin-left: 20px;}
    .three-imgs .work-list-ctnt:last-child {margin-bottom: 0;}
    .work-desc { margin-right: 0; }
    .magnify {display: none;}
    @media (max-width: 450px) {
        .ctnt-work{margin: 0 15px; margin-bottom: 15px;}
        .work-nm{font-size: 1rem;}
        .work-desc{font-size: 0.75rem; line-height: 15px;}
        .three-imgs .work-list-ctnt:hover .ctnt-work{margin-bottom: 40px;}
        .three-imgs .work-list-ctnt:hover .list-dark{border-radius: 7px; height: 98%;}
    }
    .work-more { margin-top: 50px; margin-bottom: 60px;}

    /* Contact */
    #mainJoinUs { padding-top: 60px; padding-bottom: 80px; }
    #mainJoinUs .wrap {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .join-wrap { margin-bottom: 20px; padding: 0; text-align: center; }
    .join-box {
        max-width: 500px;
        height: auto;
        display: flex; 
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .join-btns { display: flex; flex-direction: column; justify-content: center; align-items: center; padding: 0; }
    .join-btns button:first-child { margin-right: 0; margin-bottom: 20px; }
    .join-btns a { font-size: 16px; margin: 0 auto; }
    .join-btn { margin-bottom: 10px; }

    @media all and (max-width: 710px) {
        #mainWhoWeAre .intro-ctnt > p > br { display: none; }
        #mainOurValues .v-ctnt2 > p > br{ display: none; }
    }
}